@charset "UTF-8";
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /*width: 1200px;*/
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.header--underlined {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ECECEC;
}

.header {
  position: relative;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 15px 10px 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196f3;
  cursor: pointer;
}

.menu-container.is-open .menu-toggle {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-container.is-open .menu-container {
  position: relative;
}

.mobile-cross:hover {
  background-color: #ffffff;
  fill: #2196f3;
}

.menu-toggle.is-open .mobile-menu {
  display: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .menu-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.menu-container.is-open {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-socials--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 64px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .nav-socials--mobile {
    display: none;
  }
}

.nav-socials__list--mobile {
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
}

.nav-socials__list--mobile:first-child {
  padding-left: 0px;
}

.nav-socials__list--mobile:last-child {
  padding-right: 0px;
}

.nav-socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2196f3;
}

.nav-socials__link .nav-socials__link + .nav-socials__link::before {
  display: block;
  content: "";
  height: 22px;
  width: 0px;
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.navigation {
  /*align-items: center;*/
}

@media screen and (min-width: 768px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #000000;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__accent, .logo__nav {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo__accent, .logo__nav {
    font-size: 24px;
    line-height: 1.16;
  }
}

.logo__accent {
  color: #2196f3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.site-nav__list {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav__list--mobile {
  position: relative;
  display: block;
}

.site-nav__list--mobile:not(:first-child) {
  margin-top: 32px;
}

.site-nav__list:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link--mobile {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  color: #212121;
}

.site-nav__link--current {
  color: #2196f3;
}

.site-nav__link--current::after {
  display: inline-block;
  content: "";
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

@media screen and (max-width: 767px) {
  .site-nav__link--current::after {
    display: none;
  }
}

.nav-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.nav-contacts--mobile {
  font-weight: 500;
  margin-top: 302px;
}

.nav-contacts__list {
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-contacts__list {
    margin-left: 84px;
  }
  .nav-contacts__list:first-child {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .nav-contacts__list:last-child {
    margin-left: 50px;
  }
}

.nav-contacts__list--mobile {
  margin-top: 32px;
}

.nav-contacts__mail, .nav-contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.envelope-logo,
.smartphone-logo {
  margin-right: 10px;
}

.envelope-logo--mobile,
.smartphone-logo--mobile {
  display: none;
}

.nav-contacts__mail--mobile {
  font-size: 34px;
  line-height: 1.176;
  color: #2196f3;
}

.nav-contacts__phone--mobile {
  color: #757575;
  font-size: 24px;
  line-height: 1.166;
}

@media screen and (max-width: 767px) {
  .site-nav,
  .nav-contacts {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .site-nav--mobile,
  .nav-contacts--mobile,
  .nav-socials--mobile {
    display: none;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2f303a;
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  outline: 1px solid black;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-x1.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-x1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
  }
}

.hero__container {
  text-align: center;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hero__text {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
  }
}

.hero__button {
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero__button:hover, .hero__button:focus {
  cursor: pointer;
  background-color: #188CE8;
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-desktop-x1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-desktop-x1.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-desktop-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-desktop-x2.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-tablet-x1.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-tablet-x1.jpg");
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-tablet-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-tablet-x2.jpg");
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/Img-hero-x2.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/Img-hero-x2.jpg");
  }
}

.features__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features__icons {
  background-color: #f5f4fa;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .features__name {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
  /*margin: 0;*/
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__list {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features__content {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.features__content:nth-child(n+3) {
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .features__content:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  .features__content:not(:last-child) {
    margin-bottom: 30px;
  }
}

.work-example {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .work-example {
    display: none;
  }
}

.business__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0;
  margin-bottom: 50px;
}

.business__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 15px;
}

.business__item {
  position: relative;
  margin-right: 30px;
}

.business__item:last-child {
  margin-right: 0;
}

.business__details {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 370px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

img {
  display: block;
  /*max-width: 100%;*/
  height: auto;
}

.people {
  background-color: #f5f4fa;
}

.team__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.7;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  min-width: 264px;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .team__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.team__list {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 768px) {
  .team__list {
    width: 450px;
  }
  .team__list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team__list:not(:first-child) {
    margin-left: 30px;
  }
}

.team__description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 0;
}

.team__occupation {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-links__list {
  margin-right: 0px;
  margin-top: 16px;
  margin-left: 0;
}

.social-links__list:not(:last-child) {
  margin-right: 10px;
}

.social-links__meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__meta:hover, .social-links__meta:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.clients {
  /*padding-left: 15px;
    padding-right: 15px;*/
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.7;
  text-align: center;
  color: #212121;
  margin-top: 0;
  margin-bottom: 30px;
  min-width: 264px;
}

@media screen and (min-width: 1200px) {
  .clients__title {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1199px) {
  .clients__name {
    margin: -15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .clients__list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .clients__list:nth-child(n+5) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__list {
    /* width: calc((100% - 4 * 15px) / 3);*/
    margin: 15px;
  }
  .clients__list:nth-child(n+4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
    height: 92px;
    padding: 16px 52px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__link {
    width: 226px;
    height: 92px;
    padding: 16px 60px;
  }
}

.clients__link:hover, .clients__link:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.footer__container,
.socials,
.footer__forms {
  /*display: flex;*/
}

.footer {
  line-height: 1.71;
  color: #ffffff;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .footer__container {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
  padding-top: 0;
}

.footer__address {
  font-style: normal;
  margin-bottom: 9px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__address {
    width: 232px;
  }
}

.footer__mail, .footer__phone {
  display: block;
  margin-bottom: 9px;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__list {
  color: rgba(255, 255, 255, 0.6);
}

.logo__nav--white {
  color: #ffffff;
}

.footer__mail:hover,
.footer__phone:hover,
.footer__mail:focus,
.foote__phone:focus {
  color: #2196f3;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .footer__socials {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) {
  .footer__socials {
    margin-left: 165px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__socials {
    margin-left: 70px;
    margin-top: 12px;
  }
}

@media screen and (min-width: 768px) {
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__block {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer__slogan {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__slogan {
    margin-top: 10px;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 12px;
}

@media screen and (max-width: 767px) {
  .socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.socials__list:not(:last-child) {
  margin-right: 10px;
}

.socials__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__item:hover, .socials__item:focus {
  background-color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .footer__form {
    margin-left: 93px;
    margin-top: 12px;
  }
}

@media screen and (max-width: 1199px) {
  .footer__form {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__form {
    margin-top: 102px;
  }
}

@media screen and (max-width: 767px) {
  .footer__form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__forms {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#footer__follow-mail {
  margin: 0;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  margin-right: 15px;
  outline: none;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  #footer__follow-mail {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 450px;
  }
}

#footer__follow-mail::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer__follow-mail:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer__follow-mail::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

#footer__follow-mail::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer__follow-button {
  display: block;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  background-color: #2196f3;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: none;
}

@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer__follow-button {
    margin-left: auto;
    margin-right: auto;
  }
}

.footer__send {
  position: absolute;
  bottom: 13px;
  left: 148px;
  /*margin-left: 10px;*/
  fill: #ffffff;
}

.filter {
  margin-bottom: 50px;
}

.filter__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.filter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 767px) {
  .filter__buttons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 768px) {
  .filter__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .filter__list:nth-child(4), .filter__list:nth-child(5) {
    margin-top: 15px;
  }
}

.filter__item {
  font-family: Roboto, sans-serif;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  margin-right: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__item:focus, .filter__item:hover {
  background-color: #2196f3;
  border-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  padding-top: 0;
  margin-top: 0;
}

.portfolio__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

@media screen and (min-width: 768px) {
  .portfolio__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.portfolio__list {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  border: 1px solid #eeeeee;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list:hover, .portfolio__list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    margin: 15px;
    width: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .portfolio__list {
    width: 450px;
  }
  .portfolio__list:last-child {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio__list {
    width: 354px;
  }
  .portfolio__list:last-child {
    margin-right: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    width: 370px;
  }
  .portfolio__list:nth-child(3n) {
    margin-right: 0;
  }
  .portfolio__list:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  margin-bottom: 0;
}

.portfolio__content {
  background: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;
  /* Установит стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;
  /* Установит стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
  padding: 24px 20px 20px 20px;
}

@media screen and (max-width: 768px) and (min-width: 1199px) {
  .portfolio__content--first {
    padding-top: 20px;
    padding-bottom: 58px;
  }
}

.portfolio__caption {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio__text {
  font-size: 16px;
  line-height: 1.875;
  color: #757575;
}

.portfolio__description {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 63px;
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list:hover .portfolio__description,
.portfolio__list:focus .portfolio__description {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.team__img,
.portfolio__img {
  display: block;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 1024px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .backdrop {
    padding: 93px 15px 94px 15px;
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .modal {
    position: relative;
    max-width: 450px;
    max-height: 609px;
  }
}

@media screen and (min-width: 1199px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
  -webkit-transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  padding: 40px;
}

@media screen and (max-width: 767px) {
  .modal__form {
    max-width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .modal__form {
    width: 528px;
  }
}

.modal__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:focus, .modal__button-close:hover {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.modal__slogan {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #212121;
  display: block;
  padding-bottom: 12px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  position: relative;
}

.form-field__comment {
  resize: none;
  height: 120px;
}

.form-field__option {
  padding-bottom: 0;
}

.form-field__label {
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-field__input {
  width: 100%;
  margin: 0;
  padding: 12px 11px;
  padding-left: 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  font-size: 14px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-field__input:focus, .form-field__input:hover {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.form-field__modal-icon {
  display: inline-block;
  position: absolute;
  bottom: 21px;
  left: 12px;
  margin-right: 12px;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment {
  padding: 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__comment:focus, .form-field__comment:hover {
  outline: none;
  border-color: #2196f3;
  fill: #2196f3;
  cursor: pointer;
}

.form-field__checkbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form-field__policy-label {
  padding: 0;
}

.form-field__input:focus ~ .modal-icon {
  fill: #2196f3;
}

.form-field__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color: #ffffff;
  fill: #ffffff;
  border: 2px solid #212121;
  border-radius: 4px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#form-field__policy-input:checked + .form-field__icon {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border-color: transparent;
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
}

#form-field__policy-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-field__policy-label,
.form-field__policy-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 787px) {
  .form-field__policy-label,
  .form-field__policy-link {
    font-size: 12px;
    line-height: 1.16;
  }
}

.form-field__policy-link {
  color: #2196f3;
}

.form-field__submit-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.form-field__submit-button:hover, .form-field__submit-button:focus {
  cursor: pointer;
  background-color: #188CE8;
}
/*# sourceMappingURL=main.css.map */