.backdrop {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    
    width: 100%;
    height: 1024px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px){
      padding: 93px 15px 94px 15px;
    }

  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  
    min-height: 581px;
    min-width: 528px;

    padding: 0;
    margin: 0;
  
    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (max-width: 767px){
    min-height: 450px;
    min-width: 609px;
    }

    .backdrop.is-hidden &{
      transform: translate(-50%, -50%) scale(0.9);
      transition: translate 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__form {
      width: 528px;
      padding: 40px;
      @media screen and (max-width: 767px){
        width: 450px;
      }
    }

    &__button-close{
      display: flex;
      justify-content: center;
      padding: 6px;
      
       background-color:$primary-white-color;
       border-radius: 50%;
       border: 1px solid rgba(0, 0, 0, 0.1);
       width: 30px;
       height: 30px;
      
       position: absolute;
       top: 0;
       right: 0;
       margin-top: 8px;
       margin-right: 8px;
       
      
       transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:focus,
        &:hover{
          outline: none;
          border-color: $accent-color;
          fill: $accent-color;
          cursor: pointer;
              }

      }

      &__slogan{
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        
        
        color:$title-text-color;
        
        display: block;
        padding-bottom: 12px;
        
        }
  }
  
  .form-field {
   
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
  
    position: relative;
    
    &__comment{
      resize: none;
      height: 120px;
    }
    &__option{
      padding-bottom: 0;
    }

    &__label {
   
      padding-bottom: 4px;
      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.01em;
      
      
    }
    
   &__input {
      width: 100%;
      margin: 0;
      padding: 12px 11px;
      padding-left: 42px;
      border-radius: 4px;
      border:  1px solid rgba(33, 33, 33, 0.2);
      font-size: 14px;
    
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &::placeholder {
        color: rgba(117, 117, 117, 0.5);

      
      }
      &:focus,
      &:hover{
        outline: none;
        border-color: $accent-color;
        fill: $accent-color;
        cursor: pointer;
  }
    
    }
    &__modal-icon{
      display: inline-block;
    
      position: absolute;
      bottom: 21px;
      left: 12px;
      margin-right: 12px;
       
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__comment{
      padding: 12px 16px;
      border-radius: 4px;
      border:  1px solid rgba(33, 33, 33, 0.2);
    
      transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

              &:focus,
              &:hover{
                outline: none;
                border-color: $accent-color;
                fill: $accent-color;
                cursor: pointer;
                }
              }
    
    
    &__checkbox{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
        padding-top: 20px;
        margin: 0;
    
        display: flex;
    }
    &__policy-label{
      padding: 0;
    }
  }

 
  
  
  .form-field__input:focus ~ .modal-icon {
    fill:$accent-color;
  
  }
 
  
  
  
  .form-field__icon{
  display: inline-block;
  
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-color:$primary-white-color;
  fill:$primary-white-color;
  
  border: 2px solid $title-text-color;
  border-radius: 4px;
  
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
  }

  #form-field__policy-input:checked + .form-field__icon{
    transform: scale(1.2);
    border-color: transparent;
    background-color:$accent-color;
    
   
    background-size: contain;
    background-origin: border-box;
    
  }
  #form-field__policy-input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  .form-field__policy-label,
  .form-field__policy-link{
    
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
  .form-field__policy-link{
  
    color: $accent-color;
  }
  .form-field__submit-button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
   
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
  
    text-align: center;
    letter-spacing: 0.06em;
    color: $primary-white-color;

    &:hover,
    &:focus {
    cursor: pointer;
    background-color: $hero-button-color;
  }
  }
  
  